<md-card>
  <md-card-title class="text-center">Last results</md-card-title>
  <md-card-content class="text-center">
    <md-select placeholder="Choose league" [(ngModel)]="selectedLeague" name="league"
               class="my-input-size my-spacing-input">
      <md-option *ngFor="let league of leagues" [value]="league.value">
        {{league.viewValue}}
      </md-option>
    </md-select>
    <md-input-container class="my-input-size my-spacing-input">
      <input mdInput placeholder="Search" value="Bayern">
    </md-input-container>
    <md-input-container class="my-input-size my-spacing-input">
      <input mdInput [mdDatepicker]="myDatepicker" readonly>
      <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
    </md-input-container>
    <md-datepicker #myDatepicker></md-datepicker>
  </md-card-content>
</md-card>
<div class="my-spacing-div">
  <md-card>
    <md-card-title class="text-center">
      <img [src]="league.URI" class="my-logo" align="center">
      {{league.name}}
    </md-card-title>
    <md-tab-group>
      <md-tab label="Matches">
        <md-grid-list [cols]="(media.registerQuery('gt-md') | async) ? 2 : 1" rowHeight="5:1">
          <md-grid-tile *ngFor="let match of matches">
            <app-match-card [match]="match"></app-match-card>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>
      <md-tab label="Table">
      </md-tab>
      <md-tab label="Teams">Content 3</md-tab>
    </md-tab-group>
  </md-card>
</div>
