.box {
  position: relative;
  top: 0;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  /*transform: scale(1);*/
  /*-webkit-transform: scale(1);*/
  /*-ms-transform: scale(1);*/
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.my-overlap-container,
.my-overlap-container button .my-overlap-container.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.my-overlap-container.login button {
  transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.overbox .my-title,
.overbox .my-overlap-container {
  z-index: 111;
  position: relative;
  display: none;
  width: 100%;
  float: left;
}

.overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px 50px;
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #558B2F;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #82a43a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
.my-sign-in-input {
  font-size: larger;
  width: 100%;
}
.my-sign-in-container {
  margin-top:100px;
  margin-bottom: 50px;
}
.my-sign-in-action {
  width: 100%;
  font-size: larger;
}
.my-spacing-input-vertical {
  margin: 30px 0 0 0;
}
.my-title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #558B2F;
  position: relative;
}

.my-title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: #558B2F;
}

.my-white {

  background: #ffffff;
}

.my-primary {

  background: #558B2F;
}
