<md-card>
  <td-steps [mode]="(media.registerQuery('gt-md') | async) ? 'horizontal' : 'vertical'">
    <td-step #step1 label="Basic settings" sublabel="Here we go!" [active]="true" [state]="stateStep2" disableRipple>
      Basic settings
    </td-step>
    <td-step label="Rule configuration" sublabel="Here we go!" [active]="false">
      Rule configuration
    </td-step>
    <td-step label="Matches" sublabel="Here we go!" disabled="true">
      MAtchees
    </td-step>
    <td-step label="Final stage" sublabel="Here we go!" disabled="true">
      Final stage
    </td-step>
  </td-steps>
</md-card>
